[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
edition = "2024"
license = "MIT"
readme = "README.md"
repository = "https://github.com/ratplier/stock"

[workspace.dependencies]
